<section class="home">
  <div class="container-fluid">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../assets/image1.jpg" alt="first slide">
       </ng-template>
       <ng-template ngbSlide>
        <img src="../assets/image2.jpg" alt="second slide">
       </ng-template>
       <ng-template ngbSlide>
        <img src="../assets/image3.jpg" alt="third slide">
       </ng-template>
       <ng-template ngbSlide>
        <img src="../assets/image4.jpg" alt="fourth slide">
       </ng-template>
    </ngb-carousel>
  </div>
</section>
